junit
javax.sql.XAConnection
javax.sql.PooledConnection

java.io
javax.mail
javax.xml

oracle.sql.TIMESTAMP
oracle.jdbc.pool.OracleDataSource
oracle.jdbc.xa.client.OracleXADataSource

com.ibm.db2.jcc.DB2SimpleDataSource
com.ibm.db2.jcc.DB2BaseDataSource
com.ibm.db2.jcc.DB2XADataSource

nablarch.core.db.connection.AppDbConnection.prepareStatement(java.lang.String)
nablarch.core.db.connection.BasicDbConnection.terminate()
nablarch.fw.messaging.provider.exception.BasicMessagingExceptionFactory.BasicMessagingExceptionFactory()
nablarch.tool.HereisDb
nablarch.test.core.db.MasterDataSetUpper